.Episodes{
  display: flex wrap;
}

.episode{
    padding: 30px 50px;
    margin: 30px 20px;
    border: 3px dotted black;
    display: flex;
    justify-content: center;
}

img{
 width: 50%;
}

.persons{
  display: flex wrap;
}

.person{
    padding: 30px 50px;
    margin: 30px 20px;
    border: 3px dotted black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

